@use "tokens";
@use "./components";
@use "./themes/light";
@use "./themes/dark";

html {
 scroll-behavior: smooth;
}

body {
 font-family: var(--font-family);
 background: var(--color-bg);
 color: var(--color-text);
 min-height: 100vh;
}